body
{
    display: grid;
    grid-template-columns: [connectedPeople] 20% [chat] 80%;
    grid-template-rows: [header] 100px auto;
}


.myMessage
{
    background: lightblue;
}

#message-form
{
    grid-area: chat;
}